.detail
	.detail-content(style='background-image:""')
		.left
			.title phim abc
			ul.info
				li HD
				li 2017
				li Thuyet minh
				li Thuyet minh
			.short-des short des
			.list-buttons
				button xem phim
				button mua phim
				button thich phim
		.right

	.detail-trailer
		.title Trailer
		ul.list-trailer
			li trailer 1
			li trailer 2
	.detail-related
		.title Related
		ul.list-related
			li Related 1
			li Related 2


