.detail(style="background-image:url({{imgLandscape}})")
	.detail-content
		.left
			.title {{title}}
			ul.info
				li HD
				li Star {{imdb}}
				li 2017
				li Thuyet minh
				li Thuyet minh
			.short-des {{shortDescription}}
			.list-buttons
				button xem phim
				button mua phim
				button thich phim
		.right

	.detail-trailer
		.title Trailer
		ul.list-trailer
			li trailer 1
			li trailer 2
	.detail-related
		.title Related
		ul.list-related
			li Related 1
			li Related 2


