div#register-otp.background.animated.home-bg.fadeIn
  i.icon.ic-fim.ic-home
  .home-main
    .home-title
      h1 {{language register.title}}
    .login-center
      .description {{language register.description}}
      input(type='hidden')#otp
      input.otp#otp1
      input.otp#otp2
      input.otp#otp3
      input.otp#otp4
      .register-otp-keyboard
      ul.bt-movie
        | {{#each register.buttons}}
        li
          a: span {{language title}}
        | {{/each}}
        .otp-code {{language 'get-otp-again'}}
