div#player
div.player-page.animated.fadeIn
  div.gradient-top
  div.gradient-bottom
  div.player-loading
    img.fa-spin(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABGdBTUEAALGPC/xhBQAAC2lJREFUeAHtXWtsFMcdn5nde/j9vAAG1wFCoKUKSSFKDYbaCoKGJm3TCquPFNtQoEJtPzT91g91PvVDpX4ITSVIggEBiYyQIlIFIojsBMjRlIYmkJAGGszTENvn8/NeuzP9D/a5d+ed3fX51vHhWel0s//HzH9+/92Z2XlilMXXqle7FuuIbEUYfwMhpmJEPkUK2udvKDmfrdnC2Wr4t1sCzyCG/sAQUpPzwBhhZKd/S8n+ZHp23GWlQ9bs6amMYvwaY8hrBDNGjCoENZ1pLPvEiD+daWQ6GyeyLYrw0yJncB2GMNEpeVakP53pWekQgHyJJajYhoxlJFMvMKUOaW5mGUoPD1hBxRgbtJKZjvyUCjHzJta2XPVGUOHPGGKPH2c9FdUtPZ1Q3JzD+cMH/fWVofRSZBcQwt811cX4Y1O+CXPdfpY3EOtpZBj/BOz2QUUbhP+33cj711ObC7pMVCfNytATa2zH2l2BojAqfBGe1mehYJ8HUgTCc6HI+QEb8u6sOXitxFjTnFoyGHgDMdYhlmLdyMUOiPlizjNvstw+recIRdCCY2wh2F0ID9DXEMNbYyzy95o9dxeItSfPcdQhg270KwBujqGZDM/SYnk7DHkWxGO/XRTBhPwentz/jBNl6AbQfveP58r6x/FsELq7Ai+AEx4xEoUmdqWG1D8Z8TJFc6zZu27/nbx+TX3dytD8fPLcyfrSPis5I35tG1NDHX11BLGllFFVofiSW+l7p71pfthI3oq2fBdzqa6eC/ytMJN1qe7a0w2Fn5vJpMtzrA4Z0N3wasOLb3ENDuoLQeRDCzFDdnsd1oBxYvRnKDMRolvpqqKMmDqDx0f1KC9' +
    '+HXGIY0UWdmNbRQamzJbcRIBNV1YlObbeVKoz6yctTSMcc8hc14mbUHkPWdgV8iz0dVjITBn7vab8boTZFfMEWcirDp41l0mf65hDDtfX65jgl81Mwwi/OlrsmIlNGQ9jDC1d9GezBKEx8VK6dZRZvHGeYw7hCfgby98hCO/DmPCyfuyClgS89Oygf3PZ22PEaRI42+R7k2D2PLcx0SR+D31ku882lf0lkZ7psGOtrERDoZu8QiPsUYXheYgot7DHc/7MT/NuJ8pMt/CT+/rLhvXIOspwFRRjAZeqHD+9qfT6dLNT2iMRkAhIBCQCEgGJgERAImAHAVvN3jX7g/M1ps+GJiBRXeTT0z8v7rUT+UyXWd064NOGY2vhOyyGmX7Jzhi/qUOqX+krRYq+hTL2UCK4GNNzj0TL9+7ejmOJdBkeQWBjK1NuDPW+CHfbYUxFieMCPQFvYeLd5m/IvRWnpf4Lv9RrW5gXEe3Xqc7gEcBEmxUfuwO/SY1M3o8gcH2wdw84YkeiMzgH7jcwGjpZe6i/XISV0CEhEqyGLk0Y3TO+YBRt8cr9gW8ac2cu9R4mGP1ChADgtiQS0Z4X8YUOwTp9VKQUp1OKlsXD8n8EAUbxj+BVMK0KYHz+hyK8hA6Bbk+PSClOxxTlx8PyfwQBKJaExVEcI5g3JsRW6BDohrYerMH0bjwR+T+CAAwpfGGFBWboukhG7BCGTouU4nRFIWkNvcb178d/F6NHwClJww2p+YRhl5dSafF7oUP8TaUXCEEfxAVT/xWCj8ru6FRUEHpvc9kNKF0aYN6Y4TAv8A6vbyw9Ml5zhGJe+UDltHJvYD2UizVQ7vm4CiboS4LRW+83lPlFkUo6QtV7g08ySpuhAq+5hxtCMP6DWyrzS/54uB4nDX6lhRef9MZnIaalPIOV+PfcqteGKuChNn34ZzBEMusSAYmAREAiIBGQCEgEJAISAYmAREAiIBGQCEgEJAJZisBYh9cTL9+dRYh7JQzFV2BCoZNSueWOhc60b6/oztK8TUuzRzsZOe5x7GEtKazxhUESbvA9YvW+3sdgOeDT0F08NmWFM2GdhIYoeeP9X5Ze5PfymhwCo84QjUFxp1Cyek+nD3rnv5fqDJ40TIxTwUXfr/lbeuvJJ2f+/aVt4QyeWcxlCMWex/mSYmH2KXPruUXfEvIlwy4C8SLKTJ47RLCwP0ENXFeRcCuDziEAA7I6sTEdlNmQcc7KmRQzbIKgC+eZxoHASLOUicvK/0khwEi5HvXDtBXxenKC+l1o6J+TSkYqcwTuNWstoBgZeF/5yu0qqnh+DE3fpG0loBYKIpUd9jeUyzfEAkk7bIuWFuXfImM1P59REmYFyzBTKhAUZEjXbxcP937Ed96xk5iUsYfAqFPGcB/VGvswtBeLlJIISAQkAhIBiYBEQCIgEZAISAQkAhIBiYBEQCIgEZAIfPUIpHZyGVpU3XojB/fnP6B4tOhsT3kPrJGLGgpKYhICvCOx7oV2BX2nFtW+i2hzs/FC0EQlU4fwrbzDV/tqEdbnQ9yjsiymYPXiumuF/7KTQGJiMyXMHbHhGHL3d3a7E/NcqsX05Z27w83NzYYrdLmsaEoK4md9hK8FNzBEF/zfGVwFu3SmP3a8KrhmtCuZE+WVgEDd3g5PqjM4O6C6lHbfjlwz3IQOOVE5sAj21p2dkE5SECJ9uO5gSLg5TZLwDLrhWzPFaL5LlOWYF+MNO68kvTmJskKH6Iq+OFHQKByLhecb0WcybfDOFfGUqlFg9OICoYzQIfAG5FoBC/tmCZ8EK937lR8qgOMULa6oF7ZeEFxChxCGLM9w0rE+LIh3xpJzBjTLyQwFOb6JV+qKolqej1GQhy/NWOQFGX8i8JDlHDZvCAk3pxG+Iac2FVxGCr4sSBepKvkw3ZNxRHHeD3T+KVA4FBR+p/Gmb+tGJHSa0CF8SspTV4vfVbD2gYJxwmlqdBhKQP+ZTcXn7gcAncgDn6mzdFl52BWGDf0SLhcZjB3dNicUX3qQwJpYsBlq79pWll9zMFhi1oaeWKwzQ5pjx38St5nhb5lLiYBEQCIgEZAISASmKwLCPpVMGswXlmpUmafAumuq0Yjbhe60NfruTro9nkkjU+Ia2V+y2KsQRYmolKrR3pCTx+XFk3fUIbztverlnhWUjO/GVzDqrChoO8/PO4wbM13+1+76b1FILcxLtcelxaJt2+b0OPkgCb/UU41J535NS+DrRs7gcekMzbkdXL0knXid1OGHKhs5g6cZU13u1Yf6ip1M3zGH8K/Te2cAmlmPlaptcEKzmchU8vgbrUew6X72LBzL2djamrTBQiZtdMwhJw/1FcFQr3AghmdCx1j53B0cVzRkMoMTiav+MCJhQizBvnmzWjjiN5H0jGQdcwg8ScIu5kRDhsmQJQCJ8k6Gu3xj+4+YJlO8ZJ5wPMNU0QbT9Am2oS8Ucd24GKLzlsZgi3JhkaQwplfmzA0KN5gXxj7C2HaOuT76LDBLjdA8SjB2efFQXlHpl8c24LTWRbbVIr2ug9EYhfX7Jlf+oHg8w0TNFsvRVlbN7q6HNYKEY/NYUTr4pv+2LE0ReupAT2FfTF/Ai71EFmyYQ1GO55q/viiQSLcbhnN7C0CW/wwv6EIfhuZv0JCZAaLpkzDZ+E9tLb8MJyzfNIpHYaRr/bWST4x4VrTl0BAYYGR+qjO4Hj9JDoVoVbr71J/Z4hvgoBvZ4FUjkbbGB63PVTFStklzrMji6fP2Olz/XnOg+04shuZgRL2KTiKqym61NZam/WGYm9tdHtWR0HbKNKIpRQ+ACddt4pAkxt8AmM4z3Nl9Pc+TV0LUGIMdeIbCRzfPnfzgUlJK428cLbLGJ5cZysq9wYU6ipl+DxCGh/xN5Z9lJsWpi8XRIsu5bKRVZztnTgZjzkqHuOHpt8LAZUPGKo6vgp+VDkEP+roRVsQzN6ClNSu/NCsPLMtKh7TXYS0np+QLI6fwbxsPdV3N1iUTWVmpx4sSvlxCv9nt0xCD7hcPImp0eOmi8q7dK7L3jN7/Aeg72nN1sXVOAAAAAElFTkSuQmCC')

  div.player-header
    .player-title
      i.icon.ic-back.bt-back
      h1 {{item.knownAs}}
      p {{item.title}}

  div.player-bottom
    .player-control-layer
      .player-control
        a
          i.button-status.icon.ic-pause
          //i.icon.ic-play
        .indicator
          span.current-time 00:00
        .bar-container
          .bar-bg
            .bar-hover.buffer-bar(style='width:0')
          .bar-pointer
        .indicator.last
          span.duration-time 00:00:00

    .player-bt
      | {{#each buttonActions}}
      a
        i.icon(class='{{icon}}')
        span {{language title}}
      | {{/each}}
  .player-snapshot

  #player-setting

  .player-sub(style="display:none")
    p.player-sub-wrapper
      span.player-sub-detail {{language 'account-subtitle-sample'}}



