.search-page.background.animated.fadeIn
  .search-header
    i.icon.ic-fim.ic-setting
    .search-title
      h1 {{language 'menu-search'}}
    .search-input
      input.text#inputSearch(type='text')
    .search-suggest

  .search-keyboard

  .search-result.viewmore-wrapper
    p.search-notify
    .viewmore-content
      .active-pointer(style='display:none')
        .pointer-cover
      .viewmore-movie#result-search
      .clearfix

