#home.home-wrap
  i.back-button.icon.ic-back.bt-back
  #banner
  #ribbon
  #error-page
  #search
  #setting
  #login
  #watch-later
  #player-wrapper
  #result-page
  #payment
  #season
  #viewmore
.wrap-loading
  .uil-ring-css
    div
