div#home.home-wrap
  i.back-button.icon.ic-back.bt-back
  div#banner
  div#ribbon
  div#error-page
  div#search
  div#setting
  div#login
  div#watch-later
  div#player-wrapper
  div#result-page
  div#payment
  div#season
  div#viewmore
.wrap-loading
  .uil-ring-css
    div
