div#welcome.animated(
style='background: url("{{background}}"); background-size: cover;'
)
  section.content-welcome
    h1.title.first {{language title}}
    h1.title {{language text}}
    i.icon.ic-logo.logo
    div.welcome-right
      h2 {{language welcomeText}}
      h2 {{language welcomeTextLine}}
    span.galaxy-family {{language 'galaxy-family'}}
  div#progress_loading
    div.current-progress

