#banner
	|{{#each banner}}
	.wrapper-banner
		.wrapper-banner-title {{title}}
		.wrap-banner-items
			|{{#each items}}
			.banner-item
				img.banner-img(src='{{imgLandscape}}')
				.banner-title {{title}}
			|{{/each }}
	|{{/each }}

#ribbon
	| {{#each ribbon}}
	.wrapper-ribbon
		.wrapper-ribbon-title {{title}}
		.wrap-ribbon-items
			|{{#each items}}
			.ribbon-item
				img.ribbon-img(src='{{imgLandscape}}')
				.ribbon-title {{title}}
			|{{/each }}
	| {{/each }}
