ul.preview-snap
  | {{#each listSnaps}}
  li.snapshot(class='snapshot-{{@index}}')
    | {{#each ../data}}
    span.thumb(
    class='thumb thumb-{{position}}'
    style='background-image:url("{{url}}")')
      span.overTimeSS(style='display: none')
        span.timeSnapshot 00:00
    | {{/each }}
  | {{/each}}
