div#payment.background.animated.home-bg.fadeIn
  div#buy-package
  div#payment-method
  div#redeem-code
  div#enter-redeem-code
  div#mobile-card
  div#select-card
  div#payment-confirm
  div#rent-movie