div#login-password.background.animated.home-bg.fadeIn
  i.icon.ic-fim.ic-home
  .home-main
    .home-title
      h1 {{language login.title}}
    .login-center
      .description {{language login.description}}
      input.username#password.phone-number(type='password')
      .login-pass-keyboard
      ul.bt-movie
        | {{#each login.buttons}}
        li
          a: span {{language title}}
        | {{/each}}
